<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoTe101.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DoTe101.Properties.Settings>
            <setting name="TozTemizlikTarihi" serializeAs="String">
                <value />
            </setting>
            <setting name="TozHatirlatmaAyi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MacunTarihi" serializeAs="String">
                <value />
            </setting>
            <setting name="MacunHatirlatmaAyi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MacunMarkasi" serializeAs="String">
                <value />
            </setting>
            <setting name="MacunSurusYontemi" serializeAs="String">
                <value />
            </setting>
            <setting name="CpuSkor1" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="CpuSkor2" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="SsdSkor1" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="SsdSkor2" serializeAs="String">
                <value>-</value>
            </setting>
        </DoTe101.Properties.Settings>
    </userSettings>
</configuration>